/* Landing Page */
.landing_page{
    background-color: #002400;
    color: white;
    font-family: monospace;

}

h1, h3{
    padding: 1% 1% 0 1%;
}

select {
    color: #001b00;
    font-size: .75em !important;
}


.lists {
    background-color: #ffffff;
    color: #002400;
    font-family: monospace;
}

th {
    text-align: left;
}

input {
    font-size: .35em;
}

input, select {
    margin: 1em 0;
    line-height: 1em;
    vertical-align: middle;
}